* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  padding: 100px;
}

.square {
  background: #df2899;
  border: 1px solid #780659;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.game-info {
  margin-left: 200px;
}

.square--win{
  background-color:#ffe08a;
  font-weight: 700;
}